@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: Inter, sans-serif;
  }
  
.font-heading {
    font-family: "Lora", serif;
  }
::selection {
    background-color: #273E47;
    color: white;
  }